{% if not is_initial %}
<div class="input-group mb-3">
    <div class="custom-file">
        <input type="file" name="{{ name }}[]" class="custom-file-input" {% include "django/forms/widgets/attrs.html" %} multiple>
        <label class="custom-file-label" for="{{ widget.attrs.id }}">{{ widget.value|default:"Choose file..." }}</label>
    </div>
    {% if not widget.is_required %}
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="tooltip" title="Clear" onclick="clearMultiFileInput(this)"><i class="fas fa-times"></i></button>
    </div>
    {% endif %}
</div>
{% endif %}
