<!DOCTYPE>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>장바구니</title>
    <link href="{% static 'see_near/bootstrap/bootstrap.min.css'%}" rel="stylesheet"/>
</head>
<body>
    <h1>장바구니</h1>
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_table">
                    <tr>
                        <th colspan="5">
                            Your items
                        </th>
                    </tr>
                </thread>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <a href="{{ cart_item.product.get_absolute_url }}"><img src="{{ cart_item.product.images.url }}" alt="" class="float-left rounded custom_image"></a>
                        </td>
                        <td class="text-align">
                            {{cart_item.product.title}}
                            <br>
                            id: {{cart_item.product.post_id}}
                            <br>
                            price: {{cart_item.product.price}}원
                            <br>
                            quantity: {{cart_item.quantity}}개
                        </td>
                        <td>
                            total: {{cart_item.sub_total}}원
                        </td>
                        {% if cart_item.quantity <= cart_item.product.stock %}
                            <td>
                                <a href="{% url 'add_cart' cart_item.product.post_id %}" class="custom_a">
                                    <i class="fas fa--plus-circle custom_icon"></i>
                                </a>
                            </td>
                        {% else %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-21 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td>
                            결제 금액
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            총 가격: <b>{{ total }}원</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>