<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>제품 상세 설명</title>
	<link rel="stylesheet" href="{% static 'see_near/bootstrap/bootstrap.min.css' %}">
</head>
<body>
	<h1>제품 상세 설명</h1>
	<hr>
	<br><br>
	<img class="card-img-top embed-responsive-item" src="{{ post.images.url }}" width="100" alt="images/" />
	<p>제목: {{ post.title }}, 가격: {{ post.price }}, 거래상황: {{ post.situation }}
    <br>
	카테고리: {{ post.categories }}
    내용: {{ post.content }}
	<br>
	</p>
	<ul>
		<a href="{% url 'cart' post_id=post.post_id %}"><li class="nav-item">장바구니</li></a>
	</ul>
</body>
</html>