@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.gmarket-font {
    font-family: 'GmarketSansMedium';
}

.title {
    margin-top: 30px;
   color: brown;
   font-size: 40px;
}
/*로그인 타이틀*/

.login {
    display: flex;
    flex-direction: column;
    position: relative;
    margin:0 auto;
    text-align: center;
    text-decoration: solid;
    padding: 22px;
    width: 600px;
    font-family: 'GmarketSansMedium';
}

.form-label {
    padding: 3px 0px 0px;
    margin-top: 10px;
    text-align: left;
}
.signtitle {
    color: brown;
    text-align: center;
    font-size: 15px;
    text-decoration-line: none;
    margin-top: 25px;
}
.signtitle:hover {
    color: black;
}

.submit {
    padding: 10px 15px;
    font-size:15px;
}

/*또는*/

.or {
   font-size: 12px;
   font-family: 'GmarketSansMedium';
   text-align: center;
   margin-bottom: 20px
}
/*button*/

.button {
    position: relative;
    padding: 10px 10px;
    margin-bottom: 2px!important;
    z-index: 1;
    text-decoration-line: none;
    text-align: center;
    border-radius: 20px!important;
    font-family: 'GmarketSansMedium';
    }

/*button google*/

.asize {
    width: 300px;
}
.signupbtn {
    width: 400px;
    padding: 10px 15px;
}
button .googleb-image {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-style: inherit;
}

.signupbtn:hover {
    background-color: white;
    color: black;
    border-style: none;
}

.iphoneimg {
    color: white;
    z-index: -2;
}

.gotojoin {
    text-align: right;
    color: black;
    text-decoration: underline;
}